// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as PoliciesAPI from './policies';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Policies extends APIResource {
  /**
   * Evaluates a set of messages against the specified policy and returns guardrail
   * decisions.
   *
   * @example
   * ```ts
   * const response =
   *   await client.organizations.policies.enforce(
   *     'a90e34d6-41af-432f-a6ae-046598df4539',
   *     {
   *       direction: 'input',
   *       messages: [
   *         {
   *           content:
   *             'Can you summarize the plot of Interstellar?',
   *           role: 'user',
   *         },
   *       ],
   *     },
   *   );
   * ```
   */
  enforce(
    policyIdentifier: string,
    body: PolicyEnforceParams,
    options?: RequestOptions,
  ): APIPromise<PolicyEnforceResponse> {
    return this._client.post(path`/organizations/policies/${policyIdentifier}/enforce`, { body, ...options });
  }
}

/**
 * Enum representing possible policy enforcement result actions.
 */
export type PolicyEnforcementResultActionValue = 'block' | 'redact' | 'detect' | 'allow';

/**
 * Policy enforcement response schema.
 */
export interface PolicyEnforceResponse {
  /**
   * Overall action decided by the policy (allow, detect, redact, block).
   */
  action: PolicyEnforcementResultActionValue;

  /**
   * Per-guardrail evaluation results.
   */
  evaluations: Array<
    | PolicyEnforceResponse.PromptInjectionEvaluationResponseSchema
    | PolicyEnforceResponse.ContentSafetyEvaluationResponseSchema
    | PolicyEnforceResponse.DataLeakageEvaluationResponseSchema
    | PolicyEnforceResponse.ContextSafetyEvaluationResponseSchema
  >;
}

export namespace PolicyEnforceResponse {
  /**
   * Evaluation payload for prompt injection guardrail.
   */
  export interface PromptInjectionEvaluationResponseSchema {
    /**
     * Action suggested by this guardrail (allow, detect, redact, block).
     */
    action: PoliciesAPI.PolicyEnforcementResultActionValue;

    /**
     * Guardrail key that produced this evaluation.
     */
    guardrailKey: 'prompt_injection_protection';

    /**
     * Overall confidence score.
     */
    score: number;

    /**
     * Evidence or reasoning threads generated by the guardrail.
     */
    threads: Array<PromptInjectionEvaluationResponseSchema.Thread>;

    /**
     * Additional guardrail-specific metadata.
     */
    metadata?: { [key: string]: unknown };
  }

  export namespace PromptInjectionEvaluationResponseSchema {
    /**
     * Thread details for prompt injection guardrail.
     */
    export interface Thread {
      /**
       * Index of the chunk/part within the message.
       */
      contentIdentifier: number;

      /**
       * Index of the message containing the issue.
       */
      messageIdentifier: number;

      /**
       * Confidence score for this detection.
       */
      score: number;
    }
  }

  /**
   * Evaluation payload for content safety guardrail.
   */
  export interface ContentSafetyEvaluationResponseSchema {
    /**
     * Action suggested by this guardrail (allow, detect, redact, block).
     */
    action: PoliciesAPI.PolicyEnforcementResultActionValue;

    /**
     * Guardrail key that produced this evaluation.
     */
    guardrailKey: 'content_safety_filtering';

    /**
     * Overall confidence score.
     */
    score: number;

    /**
     * Evidence or reasoning threads generated by the guardrail.
     */
    threads: Array<ContentSafetyEvaluationResponseSchema.Thread>;

    /**
     * Additional guardrail-specific metadata.
     */
    metadata?: { [key: string]: unknown };
  }

  export namespace ContentSafetyEvaluationResponseSchema {
    /**
     * Thread details for content safety guardrail.
     */
    export interface Thread {
      /**
       * Content safety category hit by the message.
       */
      category: 'hate' | 'crime' | 'sexual' | 'violence';

      /**
       * Index of the chunk/part within the message.
       */
      contentIdentifier: number;

      /**
       * Index of the message containing the issue.
       */
      messageIdentifier: number;

      /**
       * Confidence score for the category.
       */
      score: number;
    }
  }

  /**
   * Evaluation payload for data leakage guardrail.
   */
  export interface DataLeakageEvaluationResponseSchema {
    /**
     * Action suggested by this guardrail (allow, detect, redact, block).
     */
    action: PoliciesAPI.PolicyEnforcementResultActionValue;

    /**
     * Guardrail key that produced this evaluation.
     */
    guardrailKey: 'data_leakage_protection';

    /**
     * Overall confidence score.
     */
    score: number;

    /**
     * Evidence or reasoning threads generated by the guardrail.
     */
    threads: Array<DataLeakageEvaluationResponseSchema.Thread>;

    /**
     * Additional guardrail-specific metadata.
     */
    metadata?: { [key: string]: unknown };
  }

  export namespace DataLeakageEvaluationResponseSchema {
    /**
     * Thread details for data leakage guardrail.
     */
    export interface Thread {
      /**
       * Detected PII/secret category (email, phone, etc).
       */
      category:
        | 'name'
        | 'email'
        | 'phone'
        | 'address'
        | 'location'
        | 'date'
        | 'ssn'
        | 'credit_card'
        | 'bank_account'
        | 'id_number'
        | 'ip_address'
        | 'url'
        | 'username'
        | 'password'
        | 'api_key'
        | 'organization'
        | 'other';

      /**
       * Index of the chunk/part within the message.
       */
      contentIdentifier: number;

      /**
       * Index of the message containing the leak.
       */
      messageIdentifier: number;

      /**
       * Confidence score for the detection.
       */
      score: number;

      /**
       * Detected span of text that triggered the guardrail.
       */
      span: string;
    }
  }

  /**
   * Evaluation payload for context safety guardrail.
   */
  export interface ContextSafetyEvaluationResponseSchema {
    /**
     * Action suggested by this guardrail (allow, detect, redact, block).
     */
    action: PoliciesAPI.PolicyEnforcementResultActionValue;

    /**
     * Guardrail key that produced this evaluation.
     */
    guardrailKey: 'context_safety_filtering';

    /**
     * Overall confidence score.
     */
    score: number;

    /**
     * Evidence or reasoning threads generated by the guardrail.
     */
    threads: Array<ContextSafetyEvaluationResponseSchema.Thread>;

    /**
     * Additional guardrail-specific metadata.
     */
    metadata?: { [key: string]: unknown };
  }

  export namespace ContextSafetyEvaluationResponseSchema {
    /**
     * Thread details for context safety guardrail.
     */
    export interface Thread {
      /**
       * Index of the chunk/part within the message.
       */
      contentIdentifier: number;

      /**
       * Index of the message containing the issue.
       */
      messageIdentifier: number;

      /**
       * Confidence score for the topic.
       */
      score: number;

      /**
       * Topic label that was flagged.
       */
      topic: string;
    }
  }
}

export interface PolicyEnforceParams {
  /**
   * Whether to evaluate input or output messages against the policy.
   */
  direction: 'input' | 'output';

  /**
   * Ordered list of messages that compose the conversation to evaluate.
   */
  messages: Array<PolicyEnforceParams.Message>;

  /**
   * Optional contextual metadata forwarded to guardrails.
   */
  metadata?: { [key: string]: unknown };
}

export namespace PolicyEnforceParams {
  /**
   * Policy enforcer message request schema.
   */
  export interface Message {
    /**
     * Raw text or a list of typed text blocks composing the message.
     */
    content: string | Array<Message.Block>;

    /**
     * Message role within the conversation.
     */
    role: 'system' | 'user' | 'assistant';
  }

  export namespace Message {
    /**
     * Policy enforcer text message request schema.
     */
    export interface Block {
      /**
       * Message text content.
       */
      text: string;

      /**
       * Content block type.
       */
      type: 'text' | 'document' | 'image' | 'audio' | 'video';
    }
  }
}

export declare namespace Policies {
  export {
    type PolicyEnforcementResultActionValue as PolicyEnforcementResultActionValue,
    type PolicyEnforceResponse as PolicyEnforceResponse,
    type PolicyEnforceParams as PolicyEnforceParams,
  };
}
